$color-primery: #F2785C;
$color-additional: #0D606F;
$color-button-hover: #167d8f;
$color-social: #F8F8F8;
$color-white: #FFFFFF;
$colo-black: #000000;
$color-blue: #1877F2;
$container-width: 1440px;
$container-inside-width: 1200px;
$tablet-width: 768px;
$mobile-width: 390px;
$small-width: 320px;