
.icon-square {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	-moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
	@media (max-width: 1200px) {
		width: calc(70px + (100 - 70) * ((100vw - 390px) / (1200 - 390)));
		height: calc(70px + (100 - 70) * ((100vw - 390px) / (1200 - 390)));
	}

	&_orange {
		background-color: $color-primery;
	}
}

.icon {
	display: inline-block;
	&_bicycle {
		width: 50px;
		height: 45px;
		background-image: url(../assets/svg/bicycle.svg);
		background-repeat: no-repeat;
		@media (max-width: 1200px) {
			width: 50%;
			height: 45%;
			background-size: contain;
		}
	}

	&_date {
		width: 52px;
		height: 52px;
		background-image: url(../assets/svg/date.svg);
		background-repeat: no-repeat;
		@media (max-width: 1200px) {
			width: 52%;
			height: 52%;
			background-size: contain;
		}
	}

	&_hand {
		width: 60px;
		height: 45px;
		background-image: url(../assets/svg/hand.svg);
		background-repeat: no-repeat;
		@media (max-width: 1200px) {
			width: 60%;
			height: 45%;
			background-size: contain;
		}
	}

	&_prev {
		width: 15px;
		height: 25px;
		background-image: url(../assets/svg/arrow-prev.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}

	&_next {
		width: 15px;
		height: 25px;
		background-image: url(../assets/svg/arrow-next.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}

	&_arrow-right {
		width: 35px;
		height: 23px;
		background-image: url(../assets/svg/arrow-right.svg);
		background-repeat: no-repeat;
		background-size: contain;
		@media (max-width: 1200px) {
			width: calc(10px + (35 - 10) * ((100vw - 390px) / (1200 - 390)));
			height: calc(10px + (23 - 10) * ((100vw - 390px) / (1200 - 390)));
		}
	}

	&_github {
		width: 100%;
		height: 100%;
		background-image: url(../assets/svg/icon-github.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}

	&_rsschool {
		width: 100%;
		height: 100%;
		background-image: url(../assets/svg/icon-rsschool.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}

	&_instagram {
		width: 31px;
		height: 31px;
		background-image: url(../assets/svg/icon-instagram.svg);
		&:hover {
			background-image: url(../assets/svg/icon-instagram_hover.svg);
			transition: 0.3s;
		}
	}

	&_video {
		width: 33px;
		height: 27px;
		background-image: url(../assets/svg/icon-video.svg);
		&:hover {
			background-image: url(../assets/svg/icon-video_hover.svg);
			transition: 0.3s;
		}
	}

	&_twitter {
		width: 32px;
		height: 26px;
		background-image: url(../assets/svg/icon-twitter.svg);
		&:hover {
			background-image: url(../assets/svg/icon-twitter_hover.svg);
			transition: 0.3s;
		}
	}
}
