.logo__link {
	display: inline-flex;
	gap: 4px;
	padding-bottom: 9px;
	line-height: 39px;
	@media (max-width: 390px) {
		padding-bottom: 0;
		padding-top: 30px;
	}
}

.logo__text {
	padding-top: 7px;
	padding-left: 3px;
    font-family: "Magra", Arial, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: $color-white;
    line-height: 39px;
	@media (max-width: 1200px) {
		font-size: calc(15px + (32 - 15) * ((100vw - 391px) / (1200 - 391)));
		line-height: calc(22px + (39 - 22) * ((100vw - 391px) / (1200 - 391)));
	}
	@media (max-width: 390px) {
		display: none;
	}
}

.logo-icon {
	display: inline-block;
	width: 216px;
	height: 31px;
	background-image: url(../assets/svg/logo.svg);
}