.player {
    background-color: rgba(0, 0, 0, 0.3);
}

.player-title {
    padding: 20px 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    @media (max-width: 465px) {
        padding: calc(10px + (20 - 10) * ((100vw - 320px) / (465 - 320))) calc(5px + (15 - 5) * ((100vw - 320px) / (465 - 320)));
    }
}
  
.player-controls {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 15px;
    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}
  
.play-list {
    height: 90px;
    padding: 0 15px 15px;
    text-align: left;
    overflow-y: auto;
    scrollbar-color: $color-blue $color-primery;
    scrollbar-width: 10px;
    @media (max-width: 465px) {
        font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (465 - 320)));
    }
    @media (max-width: 320px) {
        height: 100px;
    }
}

.play-list::-webkit-scrollbar {
    width: 10px;
    background-color:$color-primery;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.play-list::-webkit-scrollbar-thumb {
    background-color: $color-blue;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
  
.play-item {
    position: relative;
    padding: 5px;
    padding-left: 20px;
    list-style: none;
    opacity: .8;
    cursor: pointer;
    transition: .3s;

    &:hover {
        opacity: 1;
    }

    &::before {
        content: "";  
        position: absolute;
        left: 0;
        top: 3px;
        width: 20px;
        height: 20px;
        font-weight: 900;
        background-image: url("../assets/svg/play-small.svg");
        @media (max-width: 465px) {
            top: calc(0px + (3 - 0) * ((100vw - 320px) / (465 - 320)));
        }  
    }
}
  
.play-item_active::before {
    content: "";  
    position: absolute;
    left: 0;
    top: 3px;
    width: 20px;
    height: 20px;
    font-weight: 900;
    background-image: url("../assets/svg/pause-small.svg");
    @media (max-width: 465px) {
        top: calc(0px + (3 - 0) * ((100vw - 320px) / (465 - 320)));
    }  
}

.player-progress {
    display: flex;
    gap: 5px;
    @media (max-width: 464px) {
        display: none;
    }
}

.progress-bar {
    width: 133px;
    @media (max-width: 465px) {
        width: calc(80px + (133 - 80) * ((100vw - 320px) / (465 - 320)));
    }
}

.progress-time {
    display: flex;
}

.progress-current-time::after {
    content: '/';
    padding: 0 5px;
}

.player-volume {
    display: flex;
    gap: 5px;
    @media (max-width: 464px) {
        display: none;
    }
}

.player-volume-control {
    width: 80px;
    @media (max-width: 465px) {
        width: calc(50px + (80 - 50) * ((100vw - 320px) / (465 - 320)));
    }
}

.player-volume .player-icon {
    width: 25px;
    height: 25px;
    background-size: contain;
}

.player-volume_on {
    background-image: url("../assets/svg/volume-on.svg");
}

.player-volume_off {
    background-image: url("../assets/svg/volume-off.svg");
}

.pause {
    background-image: url("../assets/svg/pause.svg");
}
