* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  background-color: #FFFFFF;
}

body {
  height: 100%;
}

ul {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  font-family: "Aleo", Arial, Verdana, sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
}
@media (max-width: 1200px) {
  h1 {
    font-size: calc(20px + 60 * (100vw - 391px) / 809);
    line-height: calc(36px + 60 * (100vw - 391px) / 809);
  }
}

h2 {
  font-family: "Red Hat Text", Arial, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  text-align: center;
  color: #F2785C;
}
@media (max-width: 1200px) {
  h2 {
    font-size: calc(14px + 26 * (100vw - 390px) / 810);
    line-height: calc(19px + 34 * (100vw - 390px) / 810);
  }
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
}
@media (max-width: 1200px) {
  h3 {
    font-size: calc(11px + 24 * (100vw - 390px) / 810);
    line-height: calc(13.2px + 28.8 * (100vw - 390px) / 810);
  }
}

.logo__link {
  display: inline-flex;
  gap: 4px;
  padding-bottom: 9px;
  line-height: 39px;
}
@media (max-width: 390px) {
  .logo__link {
    padding-bottom: 0;
    padding-top: 30px;
  }
}

.logo__text {
  padding-top: 7px;
  padding-left: 3px;
  font-family: "Magra", Arial, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #FFFFFF;
  line-height: 39px;
}
@media (max-width: 1200px) {
  .logo__text {
    font-size: calc(15px + 17 * (100vw - 391px) / 809);
    line-height: calc(22px + 17 * (100vw - 391px) / 809);
  }
}
@media (max-width: 390px) {
  .logo__text {
    display: none;
  }
}

.logo-icon {
  display: inline-block;
  width: 216px;
  height: 31px;
  background-image: url(../assets/svg/logo.svg);
}

.button {
  padding: 10px 30px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #0D606F;
  color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .button {
    padding: calc(5px + 5 * (100vw - 391px) / 809) calc(15px + 15 * (100vw - 391px) / 809);
  }
}
.button:hover {
  background-color: #167d8f;
  transition: 0.5s;
}
.button_shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}
.button_font-16 {
  font-size: 16px;
  line-height: 21px;
}
@media (max-width: 1200px) {
  .button_font-16 {
    font-size: calc(10px + 6 * (100vw - 391px) / 809);
    line-height: calc(15px + 6 * (100vw - 391px) / 809);
  }
}
.button_font-24 {
  padding: 13px 32px 13px 34px;
  font-size: 24px;
  line-height: 32px;
}
@media (max-width: 1200px) {
  .button_font-24 {
    padding: calc(7.5px + 5.5 * (100vw - 390px) / 810) calc(9px + 23 * (100vw - 390px) / 810);
    font-size: calc(11px + 13 * (100vw - 390px) / 810);
    line-height: calc(15px + 17 * (100vw - 390px) / 810);
  }
}
.button_icon {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

.navigation__burger {
  display: none;
}
@media (max-width: 390px) {
  .navigation__burger {
    position: absolute;
    top: 5px;
    left: 4px;
    display: block;
  }
}

@media (max-width: 390px) {
  .burger-close {
    position: relative;
    width: 30px;
    height: 30px;
  }
  .burger-close:after {
    content: "";
    position: absolute;
    bottom: 13px;
    left: 7.5px;
    width: 18px;
    height: 2px;
    background-color: #FFFFFF;
    opacity: 0.7;
    transform: rotate(-45deg);
  }
  .burger-close span {
    position: absolute;
    top: 15px;
    left: 7.5px;
    width: 18px;
    height: 2px;
    background-color: #FFFFFF;
    opacity: 0.7;
    transform: rotate(45deg);
  }
}
.header__burger {
  display: none;
}
@media (max-width: 390px) {
  .header__burger {
    display: block;
    margin-right: 5px;
    margin-top: 28px;
  }
}

@media (max-width: 390px) {
  .burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 35px;
    cursor: pointer;
  }
  .burger::before {
    content: "";
    width: 26.25px;
    height: 2.67px;
    background-color: #FFFFFF;
  }
  .burger::after {
    content: "";
    width: 26.25px;
    height: 2.67px;
    background-color: #FFFFFF;
  }
  .burger span {
    width: 26.25px;
    height: 2.67px;
    background-color: #FFFFFF;
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9990;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup.hidden {
  display: none;
}

.modal-login {
  position: fixed;
  top: -660px;
  left: calc(50% - 325px);
  z-index: 10;
  width: 650px;
  height: auto;
  padding: 23px 45px;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  transition: top 0.5s ease-out;
}
@media (max-width: 1200px) {
  .modal-login {
    width: calc(325px + 325 * (100vw - 390px) / 810);
    padding: calc(15px + 8 * (100vw - 390px) / 810) calc(25px + 20 * (100vw - 390px) / 810);
    left: calc(50% - (162.5px + 162.5 * (100vw - 390px) / 810));
  }
}

.modal-login.active {
  top: 155px;
  z-index: 9991;
}
@media (max-width: 1200px) {
  .modal-login.active {
    top: calc(105px + 50 * (100vw - 390px) / 810);
  }
}
@media (max-width: 390px) {
  .modal-login.active {
    top: 30px;
  }
}

.modal-login__account {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 29px;
}
@media (max-width: 1200px) {
  .modal-login__account {
    gap: calc(9px + 11 * (100vw - 390px) / 810);
    padding-bottom: calc(10px + 19 * (100vw - 390px) / 810);
  }
}

.modal-login__account.hidden {
  display: none;
}

.modal-login__account.login {
  padding-bottom: 19px;
}

.modal-login__title {
  text-align: center;
  padding-bottom: 12px;
}
@media (max-width: 1200px) {
  .modal-login__title {
    padding-bottom: calc(0px + 12 * (100vw - 390px) / 810);
  }
}

.modal-login__link {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px 15px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  .modal-login__link {
    gap: calc(10px + 5 * (100vw - 390px) / 810);
    padding: calc(5px + 10 * (100vw - 390px) / 810) calc(10px + 5 * (100vw - 390px) / 810);
    font-size: calc(12px + 8 * (100vw - 390px) / 810);
    line-height: calc(18px + 8 * (100vw - 390px) / 810);
  }
}

.modal-login__link.hidden {
  display: none;
}

.modal-login__link_bg-blue {
  background-color: #1877F2;
}

.modal-login__link_bg-white {
  background-color: #FFFFFF;
}

.modal-login__link_text-wh {
  color: #FFFFFF;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(13, 96, 111, 0.5);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 9px;
}
@media (max-width: 1200px) {
  .separator {
    font-size: calc(12px + 8 * (100vw - 390px) / 810);
    line-height: calc(16px + 8 * (100vw - 390px) / 810);
  }
}

.separator::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgba(13, 96, 111, 0.5);
}

.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgba(13, 96, 111, 0.5);
}

.separator span {
  padding: 0 10px;
}

.separator.hidden {
  display: none;
}

.modal-login__form {
  padding-bottom: 9px;
}

.modal-login__form.login {
  padding-bottom: 18px;
}

.modal-login__form form {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
@media (max-width: 1200px) {
  .modal-login__form form {
    gap: calc(10px + 9 * (100vw - 390px) / 810);
  }
}

.form__email,
.form__password {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  line-height: 19px;
  color: #0D606F;
}
@media (max-width: 1200px) {
  .form__email,
.form__password {
    line-height: calc(8px + 11 * (100vw - 390px) / 810);
  }
}

.form__password {
  padding-bottom: 7px;
}

.label {
  font-size: 16px;
}
@media (max-width: 1200px) {
  .label {
    font-size: calc(12px + 4 * (100vw - 390px) / 810);
  }
}

.input {
  padding: 20px;
  background: #FFFFFF;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  .input {
    padding: calc(9px + 11 * (100vw - 390px) / 810);
  }
}

.modal-login__form .button {
  font-weight: 400;
  padding: 14px 30px;
}
@media (max-width: 1200px) {
  .modal-login__form .button {
    padding: calc(5px + 9 * (100vw - 390px) / 810) calc(21px + 9 * (100vw - 390px) / 810);
  }
}

.modal-login__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}
@media (max-width: 1200px) {
  .modal-login__links {
    gap: calc(5px + 14 * (100vw - 390px) / 810);
  }
}

.modal-login__links hr {
  width: 100%;
  margin-top: 7px;
  border-top: 1px solid rgba(13, 96, 111, 0.5);
}
@media (max-width: 1200px) {
  .modal-login__links hr {
    margin-top: calc(5px + 2 * (100vw - 390px) / 810);
  }
}

.modal-login__text {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: rgba(13, 96, 111, 0.5);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  text-align: center;
}
@media (max-width: 1200px) {
  .modal-login__text {
    font-size: calc(10px + 5 * (100vw - 390px) / 810);
    line-height: calc(13px + 5 * (100vw - 390px) / 810);
  }
}

.modal-links__item {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #0D606F;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}
@media (max-width: 1200px) {
  .modal-links__item {
    font-size: calc(10px + 5 * (100vw - 390px) / 810);
    line-height: calc(13px + 5 * (100vw - 390px) / 810);
  }
}

.modal-links__item.hidden {
  display: none;
}

.icon-square {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
@media (max-width: 1200px) {
  .icon-square {
    width: calc(70px + 30 * (100vw - 390px) / 810);
    height: calc(70px + 30 * (100vw - 390px) / 810);
  }
}
.icon-square_orange {
  background-color: #F2785C;
}

.icon {
  display: inline-block;
}
.icon_bicycle {
  width: 50px;
  height: 45px;
  background-image: url(../assets/svg/bicycle.svg);
  background-repeat: no-repeat;
}
@media (max-width: 1200px) {
  .icon_bicycle {
    width: 50%;
    height: 45%;
    background-size: contain;
  }
}
.icon_date {
  width: 52px;
  height: 52px;
  background-image: url(../assets/svg/date.svg);
  background-repeat: no-repeat;
}
@media (max-width: 1200px) {
  .icon_date {
    width: 52%;
    height: 52%;
    background-size: contain;
  }
}
.icon_hand {
  width: 60px;
  height: 45px;
  background-image: url(../assets/svg/hand.svg);
  background-repeat: no-repeat;
}
@media (max-width: 1200px) {
  .icon_hand {
    width: 60%;
    height: 45%;
    background-size: contain;
  }
}
.icon_prev {
  width: 15px;
  height: 25px;
  background-image: url(../assets/svg/arrow-prev.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.icon_next {
  width: 15px;
  height: 25px;
  background-image: url(../assets/svg/arrow-next.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.icon_arrow-right {
  width: 35px;
  height: 23px;
  background-image: url(../assets/svg/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1200px) {
  .icon_arrow-right {
    width: calc(10px + 25 * (100vw - 390px) / 810);
    height: calc(10px + 13 * (100vw - 390px) / 810);
  }
}
.icon_github {
  width: 100%;
  height: 100%;
  background-image: url(../assets/svg/icon-github.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.icon_rsschool {
  width: 100%;
  height: 100%;
  background-image: url(../assets/svg/icon-rsschool.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.icon_instagram {
  width: 31px;
  height: 31px;
  background-image: url(../assets/svg/icon-instagram.svg);
}
.icon_instagram:hover {
  background-image: url(../assets/svg/icon-instagram_hover.svg);
  transition: 0.3s;
}
.icon_video {
  width: 33px;
  height: 27px;
  background-image: url(../assets/svg/icon-video.svg);
}
.icon_video:hover {
  background-image: url(../assets/svg/icon-video_hover.svg);
  transition: 0.3s;
}
.icon_twitter {
  width: 32px;
  height: 26px;
  background-image: url(../assets/svg/icon-twitter.svg);
}
.icon_twitter:hover {
  background-image: url(../assets/svg/icon-twitter_hover.svg);
  transition: 0.3s;
}
.icon_facebook {
  width: 24px;
  height: 24px;
  background-image: url(../assets/svg/icon-facebook.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1200px) {
  .icon_facebook {
    width: calc(20px + 4 * (100vw - 390px) / 810);
    height: calc(20px + 4 * (100vw - 390px) / 810);
  }
}
.icon_google {
  width: 24px;
  height: 24px;
  background-image: url(../assets/svg/icon-google.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1200px) {
  .icon_google {
    width: calc(20px + 4 * (100vw - 390px) / 810);
    height: calc(20px + 4 * (100vw - 390px) / 810);
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 3;
}

.header__bg {
  position: relative;
  z-index: 2;
  min-height: 90px;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
@media (max-width: 390px) {
  .header__bg {
    box-shadow: none;
    background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 66%);
  }
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}
@media (max-width: 1200px) {
  .header__container {
    padding: 0 15px;
  }
}

.body-hidden {
  display: none;
}

.header__navigation {
  padding-right: 31px;
}
@media (max-width: 1200px) {
  .header__navigation {
    padding-right: calc(10px + 21 * (100vw - 391px) / 809);
  }
}
@media (max-width: 390px) {
  .header__navigation {
    position: fixed;
    top: 0;
    right: -165px;
    z-index: 9998;
    height: calc(206px + 45 * (100vw - 320px) / 70);
    width: 165px;
    padding-right: 19px;
    overflow: auto;
    background-color: #F2785C;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    transition: right 0.5s ease-out;
  }
}

@media (max-width: 390px) {
  .header__navigation.active {
    right: 0px;
    z-index: 9999;
  }
}
.navigation {
  display: flex;
  gap: 42px;
}
@media (max-width: 1200px) {
  .navigation {
    gap: calc(5px + 37 * (100vw - 391px) / 809);
  }
}
@media (max-width: 390px) {
  .navigation {
    display: block;
    padding-top: 44px;
  }
}

.navigation__link {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media (max-width: 1200px) {
  .navigation__link {
    font-size: calc(10px + 6 * (100vw - 391px) / 809);
    line-height: calc(15px + 6 * (100vw - 391px) / 809);
  }
}
@media (max-width: 390px) {
  .navigation__link {
    text-align: right;
    font-size: calc(12px + 4 * (100vw - 320px) / 70);
    line-height: calc(17px + 4 * (100vw - 320px) / 70);
    margin-bottom: 10px;
  }
}
.navigation__link_hidden {
  display: none;
}
.navigation__link:last-child {
  padding-right: 0px;
}
@media (max-width: 390px) {
  .navigation__link_hidden {
    display: block;
  }
}

.navigation__link a {
  color: #FFFFFF;
}
@media (max-width: 390px) {
  .navigation__link a {
    display: block;
  }
}
.navigation__link a:hover {
  color: #0D606F;
  transition: 0.5s;
}

@media (max-width: 390px) {
  .header__button {
    display: none;
  }
}
.footer {
  position: relative;
  margin-top: -62px;
}
@media (max-width: 1440px) {
  .footer {
    margin-top: calc(-65px + 3 * (100vw - 390px) / 1050);
  }
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 61px;
  align-items: center;
}
@media (max-width: 1440px) {
  .footer__container {
    height: calc(65px + -4 * (100vw - 390px) / 1050);
  }
}
@media (max-width: 1200px) {
  .footer__container {
    padding: 0 15px;
  }
}

.links-github-rss {
  flex: 0 1 33.333%;
  justify-content: flex-start;
  display: flex;
  gap: 15px;
}
@media (max-width: 390px) {
  .links-github-rss {
    gap: 10px;
  }
}

.footer__link-github {
  width: 35px;
  height: 35px;
}
@media (max-width: 490px) {
  .footer__link-github {
    width: calc(25px + 10 * (100vw - 391px) / 99);
    height: calc(25px + 10 * (100vw - 391px) / 99);
  }
}

.footer__link-rss {
  width: 97px;
  height: 38px;
}
@media (max-width: 490px) {
  .footer__link-rss {
    width: calc(70px + 27 * (100vw - 391px) / 99);
    height: auto;
  }
}

.footer__text {
  flex: 0 1 33.333%;
  padding-top: 5px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 490px) {
  .footer__text {
    font-size: calc(10px + 6 * (100vw - 391px) / 99);
    line-height: calc(15px + 6 * (100vw - 391px) / 99);
  }
}
@media (max-width: 390px) {
  .footer__text {
    display: none;
  }
}

.social-links {
  flex: 0 1 33.333%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  gap: 23px;
  padding-top: 4px;
}
@media (max-width: 390px) {
  .social-links {
    margin-left: -6px;
  }
}

.social-links__link {
  display: inline-block;
}

.preview {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 53.1%;
  background-image: url(../assets/img/preview-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 390px) {
  .preview {
    padding-top: 64.3%;
    background-image: url(../assets/img/preview-bg-390.jpg);
  }
}

.preview__container {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .preview__container {
    padding: 0 15px;
  }
}
@media (max-width: 914px) {
  .preview__container {
    top: 93px;
  }
}

.preview__content {
  display: flex;
  flex-direction: column;
  max-width: 892px;
  padding-top: 24px;
}
@media (max-width: 1200px) {
  .preview__content {
    padding-top: calc(0px + 24 * (100vw - 391px) / 809);
    width: calc(500px + 392 * (100vw - 700px) / 700);
  }
}
@media (max-width: 600px) {
  .preview__content {
    width: 100%;
  }
}
@media (max-width: 390px) {
  .preview__content {
    padding-top: calc(30px + 20 * (100vw - 320px) / 70);
  }
}

.preview__title {
  padding-bottom: 39px;
  color: #FFFFFF;
}
@media (max-width: 1200px) {
  .preview__title {
    padding-bottom: calc(0px + 39 * (100vw - 391px) / 809);
  }
}
@media (max-width: 390px) {
  .preview__title {
    display: none;
  }
}

.preview__text {
  padding-bottom: 48px;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
@media (max-width: 1200px) {
  .preview__text {
    padding-bottom: calc(5px + 43 * (100vw - 391px) / 809);
    font-size: calc(9px + 11 * (100vw - 391px) / 809);
    line-height: calc(13px + 11 * (100vw - 391px) / 809);
  }
}
@media (max-width: 390px) {
  .preview__text {
    display: none;
  }
}

.preview__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
  padding: 18px 18px 18px 41px;
  background: rgba(255, 255, 255, 0.7);
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
@media (max-width: 1200px) {
  .preview__search {
    gap: calc(16.44px + 28.56 * (100vw - 390px) / 810);
    padding: calc(8px + 10 * (100vw - 390px) / 810) calc(9px + 9 * (100vw - 390px) / 810) calc(8px + 10 * (100vw - 390px) / 810) calc(17px + 24 * (100vw - 390px) / 810);
  }
}

.search__input {
  flex-grow: 1;
  padding-bottom: 10px;
  font-family: "Aleo", Arial, Verdana, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  background: rgba(255, 255, 255, 0);
}
@media (max-width: 1200px) {
  .search__input {
    padding-bottom: calc(0px + 10 * (100vw - 390px) / 810);
    font-size: calc(14px + 10 * (100vw - 390px) / 810);
    line-height: calc(17px + 12 * (100vw - 390px) / 810);
  }
}

::placeholder {
  color: #F2785C;
  opacity: 1;
}

.steps__container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .steps__container {
    padding: 0 15px;
  }
}

.steps {
  padding-top: 80px;
}
@media (max-width: 1200px) {
  .steps {
    padding-top: calc(20px + 60 * (100vw - 390px) / 810);
  }
}

.steps__title {
  padding-bottom: 40px;
}
@media (max-width: 1200px) {
  .steps__title {
    padding-bottom: calc(20px + 20 * (100vw - 390px) / 810);
  }
}

.steps__content {
  display: flex;
}
@media (max-width: 390px) {
  .steps__content {
    justify-content: space-between;
  }
}

.step__column {
  flex: 0 1 33.333%;
  display: flex;
  justify-content: center;
}
.step__column_start {
  justify-content: flex-start;
}
@media (max-width: 390px) {
  .step__column_start {
    flex: 0 1 26.333%;
  }
}
.step__column_end {
  justify-content: flex-end;
}
@media (max-width: 390px) {
  .step__column_end {
    flex: 0 1 26.333%;
  }
}

.step__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step__icon {
  padding-bottom: 28px;
}
@media (max-width: 390px) {
  .step__icon {
    padding-bottom: 19px;
  }
}
.step__icon_left {
  padding-left: 13px;
}
@media (max-width: 390px) {
  .step__icon_left {
    align-self: flex-start;
    padding-left: 0px;
  }
}
.step__icon_right {
  padding-right: 13px;
}
@media (max-width: 390px) {
  .step__icon_right {
    align-self: flex-end;
    padding-right: 0px;
  }
}

.step__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #0D606F;
}
@media (max-width: 1200px) {
  .step__text {
    font-size: calc(10px + 10 * (100vw - 390px) / 810);
    line-height: calc(12px + 12 * (100vw - 390px) / 810);
  }
}
.step__text_left {
  padding-left: 11px;
}
@media (max-width: 390px) {
  .step__text_left {
    padding-left: 0px;
    text-align: left;
  }
}
.step__text_right {
  padding-right: 11px;
}
@media (max-width: 390px) {
  .step__text_right {
    padding-right: 0px;
    text-align: right;
  }
}

.destinations {
  padding-top: 99px;
}
@media (max-width: 1440px) {
  .destinations {
    padding-top: calc(20px + 79 * (100vw - 390px) / 1050);
  }
}

.destinations__title {
  padding-bottom: 46px;
}
@media (max-width: 1440px) {
  .destinations__title {
    padding-bottom: calc(20px + 26 * (100vw - 390px) / 1050);
  }
}

.destinations__slider {
  padding-bottom: 40px;
}
@media (max-width: 1200px) {
  .destinations__slider {
    padding-bottom: calc(23px + 17 * (100vw - 390px) / 810);
  }
}

.slider__wrapper {
  position: relative;
  padding-bottom: 24px;
  overflow: hidden;
}
@media (max-width: 390px) {
  .slider__wrapper {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.slider__nav {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 258px;
  height: 804px;
  cursor: pointer;
  z-index: 6;
}
@media (max-width: 1440px) {
  .slider__nav {
    width: calc(68px + 190 * (100vw - 391px) / 1049);
    height: calc(214px + 590 * (100vw - 391px) / 1049);
  }
}
@media (max-width: 390px) {
  .slider__nav {
    cursor: default;
    width: calc(36px + 0 * (100vw - 320px) / 70);
    height: calc(165px + 41 * (100vw - 320px) / 70);
  }
}

.slider__nav_prev {
  left: 0;
}

.slider__nav_next {
  right: 0;
}

.slider-icon {
  display: none;
}
@media (max-width: 390px) {
  .slider-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.slider__content {
  display: flex;
  justify-content: center;
}
@media (max-width: 390px) {
  .slider__content {
    gap: 10px;
  }
}

.slider__item {
  position: relative;
  width: 60%;
  padding: 0 30px;
}
@media (max-width: 1440px) {
  .slider__item {
    padding: 0 calc(10px + 20 * (100vw - 391px) / 1049);
  }
}
@media (max-width: 390px) {
  .slider__item {
    padding: 0;
    width: 100%;
  }
}
.slider__item:nth-child(1) {
  margin-left: -60%;
}
@media (max-width: 390px) {
  .slider__item:nth-child(1) {
    margin-left: -100%;
  }
}
.slider__item:nth-child(3) {
  margin-right: -60%;
}
@media (max-width: 390px) {
  .slider__item:nth-child(3) {
    margin-right: -100%;
  }
}

.slider__item .img-visible {
  display: block;
  width: 100%;
  height: auto;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
@media (max-width: 390px) {
  .slider__item .img-visible {
    display: none;
  }
}

.slider__item .img-hidden {
  display: none;
  width: 100%;
  height: auto;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
@media (max-width: 390px) {
  .slider__item .img-hidden {
    display: block;
  }
}

.slider__text {
  position: absolute;
  left: 45px;
  bottom: 40px;
  font-family: "Red Hat Text", Arial, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1440px) {
  .slider__text {
    left: calc(20px + 25 * (100vw - 390px) / 1050);
    bottom: calc(15px + 25 * (100vw - 390px) / 1050);
    font-size: calc(20px + 12 * (100vw - 390px) / 1050);
    line-height: calc(26px + 16 * (100vw - 390px) / 1050);
  }
}
@media (max-width: 390px) {
  .slider__text {
    left: 12px;
    top: 8px;
    font-size: calc(20px + 12 * (100vw - 390px) / 1050);
    line-height: calc(26px + 16 * (100vw - 390px) / 1050);
  }
}

.slider__text_visible {
  display: block;
}
@media (max-width: 390px) {
  .slider__text_visible {
    display: none;
  }
}

.slider__text_hidden {
  display: none;
}
@media (max-width: 390px) {
  .slider__text_hidden {
    display: block;
  }
}

.slider__indicators {
  display: flex;
  justify-content: center;
}
@media (max-width: 390px) {
  .slider__indicators {
    position: relative;
    margin-top: -39px;
  }
}

.indicators {
  display: flex;
  gap: 10px;
}
@media (max-width: 390px) {
  .indicators {
    gap: 6px;
  }
}

.indicators__item {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 1440px) {
  .indicators__item {
    width: calc(8px + 12 * (100vw - 390px) / 1050);
    height: calc(8px + 12 * (100vw - 390px) / 1050);
  }
}
.indicators__item_active {
  background: #F2785C;
}
.indicators__item:nth-child(2) {
  background: #F2785C;
}
@media (max-width: 390px) {
  .indicators__item:nth-child(2) {
    background: rgba(242, 120, 92, 0.5);
  }
}
.indicators__item:nth-child(1) {
  background: rgba(242, 120, 92, 0.5);
}
@media (max-width: 390px) {
  .indicators__item:nth-child(1) {
    background: #F2785C;
  }
}

.destinations__button {
  display: flex;
  justify-content: center;
}

.stories__container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .stories__container {
    padding: 0 15px;
  }
}

.stories {
  padding-top: 79px;
}
@media (max-width: 1200px) {
  .stories {
    padding-top: calc(18px + 61 * (100vw - 390px) / 810);
  }
}

.stories__background {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/stories-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 61px;
}
@media (max-width: 1440px) {
  .stories__background {
    padding-bottom: calc(65px + -4 * (100vw - 390px) / 1050);
  }
}
@media (max-width: 390px) {
  .stories__background {
    background-image: url(../assets/img/stories-bg-390.jpg);
  }
}

.stories__background_light {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 37px;
  background: rgba(255, 255, 255, 0.7);
  background-repeat: no-repeat;
}
@media (max-width: 1440px) {
  .stories__background_light {
    padding-bottom: calc(13px + 24 * (100vw - 390px) / 1050);
  }
}

.stories__title {
  padding-bottom: 39px;
}
@media (max-width: 1200px) {
  .stories__title {
    padding-bottom: calc(10px + 29 * (100vw - 390px) / 810);
  }
}

.stories__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 37px;
  padding-bottom: 42px;
}
@media (max-width: 1200px) {
  .stories__content {
    gap: calc(15px + 15 * (100vw - 390px) / 810);
    padding-top: calc(10px + 27 * (100vw - 390px) / 810);
    padding-bottom: calc(11px + 31 * (100vw - 390px) / 810);
  }
}

.story {
  display: flex;
  gap: 40px;
}
@media (max-width: 1200px) {
  .story {
    gap: calc(10px + 30 * (100vw - 390px) / 810);
  }
}

.story__image {
  width: 35%;
}
@media (max-width: 390px) {
  .story__image {
    width: 53%;
    height: 130px;
  }
}

.story__image_visible {
  display: block;
}
@media (max-width: 390px) {
  .story__image_visible {
    display: none;
  }
}

.story__image_hidden {
  display: none;
}
@media (max-width: 390px) {
  .story__image_hidden {
    display: block;
  }
}

.story__image img {
  width: 100%;
  height: 100%;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px #0D606F);
  object-fit: cover;
}
@media (max-width: 390px) {
  .story__image img {
    max-width: 155px;
  }
}

.story_content {
  width: 66%;
}
@media (max-width: 390px) {
  .story_content {
    padding-top: 5px;
  }
}

.story__title {
  padding-bottom: 23px;
}
@media (max-width: 1200px) {
  .story__title {
    padding-bottom: calc(10px + 13 * (100vw - 390px) / 810);
  }
}

.story__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}
@media (max-width: 1200px) {
  .story__text {
    font-size: calc(9px + 11 * (100vw - 390px) / 810);
    line-height: calc(10.8px + 13.2 * (100vw - 390px) / 810);
  }
}

.story__text_visible {
  display: block;
}
@media (max-width: 390px) {
  .story__text_visible {
    display: none;
  }
}

.story__text_hidden {
  display: none;
}
@media (max-width: 390px) {
  .story__text_hidden {
    display: block;
  }
}

.story__link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .story__link {
    display: block;
    font-size: calc(9px + 11 * (100vw - 390px) / 810);
    line-height: calc(10.8px + 13.2 * (100vw - 390px) / 810);
  }
}

.story__link:hover {
  color: #F2785C;
  transition: 0.3s;
}

.stories__button {
  display: flex;
  justify-content: center;
}

.stories__button .button_icon {
  gap: 12.5px;
}
@media (max-width: 390px) {
  .stories__button .button_icon {
    gap: 6.5px;
  }
}

.stories__button .button_font-24 {
  padding: 13px 40px 13px 34px;
}
@media (max-width: 1200px) {
  .stories__button .button_font-24 {
    padding: calc(7.5px + 5.5 * (100vw - 390px) / 810) calc(13.5px + 26.5 * (100vw - 390px) / 810);
  }
}

.main {
  margin-top: -90px;
}
@media (max-width: 914px) {
  .main {
    margin-top: -93px;
  }
}
@media (max-width: 390px) {
  .main {
    margin-top: -90px;
  }
}

@media (max-width: 390px) {
  .body-hidden_active {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9990;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body.lock {
    overflow: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
